.project-heading{
    text-align: center;
    padding:4rem 0 2rem 0;
}

.project-container{
    margin: auto;
    display: flex;
    padding-bottom: 5rem;
}

.project-card{
    background:rgb(41, 41, 41);
    padding:1.2rem 1rem;
    border-radius: 10px;
    margin-right: 20px;
}

.project-card img{
    width:100%
}

.project-title{
    color: white;
    padding:1rem 0;
}

.project-detail p{
    padding-bottom:1rem;
    font-size:1.1rem;
    text-align: justify;
}

.animate-scroll {
    overflow: hidden;
    animation: scroll 15s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-110%);
    }
}


@media screen and (max-width:740px){
    .project-container{
        max-width: 90%;
        margin:auto;
        grid-template-columns: 1fr;
    }
}